body{
    font-family: Verdana, Helvetica, serif;
    margin: auto;
    max-width: 50%;
}

.box{
    border: blue dashed 3px;
    position: relative;
    background: white;
}

h2{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}