body{
    font-family: Verdana, Helvetica, serif;
    margin: auto;
    width:700px;
    background-color: #FAF0E6;

}

.box {
    border: black dashed 1px;
    position: relative;
    padding: 15px;
    margin-bottom:10px;
}

h1 {
    margin-top: 50px;
}

h2{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

footer {
    position:absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

ul {
    list-style-type: square;
}

img {
    padding-left: 15px;
    height: auto;
    max-width: 401px;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}
